/* ====== COLORES EXACTOS DE LA IMAGEN ====== */
:root {
    --azul-oscuro: #0A2E4E;
    --azul-mas-oscuro: #08243A;
    --azul-claro: #00CFEF;
    --azul-borde: #1565C0;
    --gris-menu: #507598;
    --fuente: 'Arial', sans-serif;
}

/* ====== RESETEO ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
}

/* ====== BARRA SUPERIOR ====== */
.topbar {
    background-color: var(--azul-oscuro);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
    border-bottom: 6px solid var(--azul-claro);
}

.titulo {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

/* ====== MENU HAMBURGUESA ====== */
.menu-icono {
    width: 60px;
    height: 55px;
    background-color: var(--gris-menu);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px 10px;
}

.menu-icono span {
    height: 6px;
    width: 100%;
    background-color: #E0E0E0;
    border-radius: 3px;
}

/* ====== CONTENIDO CENTRAL ====== */
.contenido {
    text-align: center;
    padding-top: 50px;
    background-color: white;
}

.logo {
    width: 170px;
    margin-bottom: 15px;
}

.marca {
    font-size: 32px;
    font-weight: bold;
    color: var(--azul-oscuro);
    margin-bottom: 50px;
}

.marca span {
    color: var(--azul-claro);
}

/* ====== BOTONES ====== */
.botones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    width: 80%;
    margin: auto;
    margin-bottom: 70px;
}

.btn {
    background-color: var(--azul-oscuro);
    color: white;
    border: none;
    padding: 22px 10px;
    font-size: 20px;
    border-radius: 25px;
    box-shadow: 4px 4px 6px rgb(90, 90, 90);
    cursor: pointer;
    letter-spacing: 0.5px;
}
