/* ----- BARRA SUPERIOR ----- */
.top-bar {
    background-color: #0a2f57;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 4px solid #3aaeee;
}

.top-bar h1 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

/* Icono menú */
.menu-icon {
    width: 40px;
    cursor: pointer;
}

.menu-icon div {
    width: 100%;
    height: 6px;
    background: #8caec9;
    border-radius: 3px;
    margin: 5px 0;
}

/* ----- CONTENEDOR PRINCIPAL ----- */
.container {
    padding: 30px;
    text-align: left;
}

/* Código dinámico */
.codigo-box {
    margin: 20px auto;
    width: 60%;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    font-size: 28px;
    color: #777;
    background: #f8f8f8;
}

/* Botones */
.botones {
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
}

.btn {
    padding: 12px 35px;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    box-shadow: 2px 2px 5px gray;
}

.entrada {
    background-color: #35b43a;
}

.salida {
    background-color: #d9423b;
}

/* Título tabla */
h2 {
    font-size: 26px;
    margin-top: 20px;
    font-weight: bold;
}

/* Tabla */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 18px;
}

.tabla th {
    background-color: #0a2f57;
    color: white;
    padding: 10px;
}

.tabla td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.tabla tr:nth-child(even) {
    background-color: #f5f5f5;
}

/* ----- BARRA INFERIOR ----- */
.bottom-bar {
    background-color: #0a2f57;
    height: 50px;
    margin-top: 40px;
}
